@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
html
{
    scroll-behavior: smooth;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
}
:root
{
    --primarycolor:#9e801a;
    --secondcolor:rgb(240 236 225);
    --headingH1:30px;
    --headinhH2:25px;
    --headingH3:20px;
    --psize:16px;
}
.py5
{
    padding: 40px 0px;
}
.py4
{
    padding: 30px 0px;
}
.py3
{
    padding: 20px 0px;
}
.px5
{
    padding: 0px 40px;
}
.px4
{
    padding: 0px 30px;
}
.px3
{
    padding: 0px 20px;
}
.px2
{
    padding: 0px 10px;
}
.d-flex
{
    display: flex;
}
.navbar
{
    max-width: 100%;
    height: 100px;
    /* border: 1px solid red; */
}
.navbar .img
{
    width: 250px;
    /* height: 100px; */
    /* border: 1px solid red; */
    margin-left: 10px;
}
.navbar .img img{
    width: 100%;
    height: 100%;
}
.navbar .list 
{
   margin-left: 50px;
}
.navbar .list ul li{
    padding: 0px 5px;
}
.bt1
{
    padding: 10px 5px;
    margin-top: -10px;
    background-color: var(--primarycolor);
    border: none;
}
.bt1 h3{
    color: white;
}
.phone .fa-solid 
{
    margin-top: 40px;
    margin-left: 10px;
    color: var(--primarycolor);
    font-size: 20px;
}
.blank
{
    width: 450px;
    height: 400px;
    /* border: 1px solid red; */
    position: absolute;
    background: white;
    border-radius: 2%;
    right: 10%;
    bottom: 10%;
    z-index: 99999;
}
#slider .owl-prev
{
 position: absolute;
 width: 40px;
 height: 40px;
 background: red;
 top: 40%;
 left: 10%;
}
#slider .owl-next
{
 position: absolute;
 width: 40px;
 height: 40px;
 background: red;
 left: 90%;
 top: 40%;
}
#slider .owl-dots
{
 position: absolute;
 width: 150px;
 height: 50px;
 /* background: red; */
 background: none;
 left: 46%;
 bottom: 20px;
}
#slider .owl-dot
{
    padding: 5px 10px;
    margin-left: 10px;
    background: #9e801a;
}
.row3
{
    max-width: 100%;
    /* height: 600px; */
    /* border: 1px solid red; */
}
.row3 .imgg
{
    width: 450px;
    height: 450px;
    /* border: 1px solid red; */
    margin-top: 80px;
    margin-left: 80px;
}
.row3 .content
{
    width: 700px;
    /* height: 250px; */
    /* border: 1px solid red; */
    margin-top: 80px;
    margin-left: 50px;
}
.content h2
{
    font-size: var(--headingH1);
}
.content p
{
    line-height: 30px;
    font-weight: 500;
    text-align:justify;
    font-size: 17px;
}
.content1 h2
{
    font-size: var(--headingH3);
}
.row4
{
    max-width: 100%;
    height: 400px;
    /* border: 1px solid red; */
    margin-top: 50px;
}
.row4 .main
{
    width: 90%;
    height: 250px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 30px;
}
.row4 .main .box
{
    width: 25%;
    height: 80%;
    /* border: 1px solid red; */
    margin-left: 50px;

    box-shadow: 0px 5px 20px 2px #ccc;
}
.row4 .main .box .ii
{
    width: 50%;
    margin: auto;
    height: 120px;
    /* border: 1px solid red; */
}
.row4 .main .box .ii img
{
    width: 100%;
    height: 100%;
}
.row4 .main .box  p
{
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}
.row5
{
    max-width: 100%;
    /* height: 700px; */
    /* border: 1px solid red; */
}
.row5 .left
{
    width: 600px;
    height: 500px;
    /* border: 1px solid red; */
    margin-left: 50px;
    margin-top: 50px;
}
.row5 .right
{
    width: 500px;
    height: 500px;
    /* border: 1px solid red; */
    margin-left: 100px;
    margin-top: 50px;
}
.row5 .left .blank1
{
    width: 75px;
    height: 5px;
    /* border: 1px solid red; */
    margin-left: 180px;
    background-color: #9e801a;
}
.row5 .left ol li
{
    line-height: 50px;
    margin-left: 45px;
    list-style: decimal;
    font-weight: 500;
    color: #9e801a;
}
.row5 .right img
{
    width: 100%;
    height: 100%;
}
.row6
{
    max-width: 100%;
    /* height: 800px; */
    margin-top: 50px;
    background-color: var(--secondcolor);
}
.row6 .first
{
    width: 80%;
    height: 180px;
    /* border: 1px solid red; */
    margin: auto;
}
.row6 .first .bb
{
    width: 20%;
    height: 90%;
    /* border: 1px solid red; */
    margin-left: 30px;
    background: white;
}
.row6 .sec
{
    width: 80%;
    height: 200px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 20px;
}
.row6 .sec .bb
{
    width: 20%;
    height: 90%;
    /* border: 1px solid red; */
    margin-left: 30px;
    background: white;

}
.row6 .first .bb .image
{
    width: 70px;
    height: 70px;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid red; */
}
.row6 .first .bb .image img
{
    width: 100%;
    height: 100%;
}
.row6 .first .bb p
{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.row6 .sec .bb .image
{
    width: 70px;
    height: 70px;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid red; */
}
.row6 .sec .bb .image img
{
    width: 100%;
    height: 100%;
}
.row6 .sec .bb p
{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.row7
{
    max-width: 100%;
    /* height: 500px; */
    /* border: 1px solid red; */
    margin-top: 50px;
}
.row7 .rr1
{
    width: 85%;
    height: 200px;
    margin: auto;
    /* border: 1px solid red; */
}
.row7 .rr1 .pp
{
    width: 25%;
    height: 100%;
    /* border: 1px solid red; */
    margin-left: 40px;
}
.row7 .rr1 .pp img
{
    width: 100%;
    height: 100%;
}
.row7 .rr2
{
    width: 85%;
    height: 200px;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 20px;
}
.row7 .rr2 .pp
{
    width: 25%;
    height: 100%;
    /* border: 1px solid red; */
    margin-left: 40px;
}
.row7 .rr2 .pp img
{
    width: 100%;
    height: 100%;
}
.row8
{
    max-width: 100%;
    height: 400px;
    background: var(--secondcolor);
    margin-top: 50px;
}
.row8 .box1
{
    width: 350px;
    height: 300px;
    /* border: 1px solid red; */
    margin-top: 50px;
    margin-left: 70px;
}
.row9
{
    max-width: 100%;
    height: 500px;
    border: 1px solid red;
    margin-top: 40px;
}
.row9 .inside .cont1
{
    width: 450px;
    height: 300px;
    /* border: 1px solid red;   */
    margin-left: 220px;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, 0.5);
}
.row9 .inside .cont2
{
    width: 450px;
    height: 300px;
    /* border: 1px solid red;   */
    margin-left: 20px;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, 0.5);
}
.row9 .head
{
    text-align: center;
}
.row9 .inside .cont1 .first
{
    width: 300px;
    /* height: 50px; */
    /* border: 1px solid red; */
    margin-top: 50px;
    margin-left: 40px;
}
.row9 .inside .cont1 .first span
{
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.row9 .inside .cont1 .first1
{
    width: 300px;
    /* height: 50px; */
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 40px;
}
.row9 .inside .cont1 .first1 span
{
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.row9 .inside .cont1 .first11
{
    width: 300px;
    /* height: 50px; */
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 40px;
}
.row9 .inside .cont1 .first11 span
{
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.row9 .cont1 button
{
    margin-left: 50px;
    margin-top: 30px;
    padding: 15px 120px;
    background:var(--primarycolor);
    border:none;
    color:white;
    font-size: 15px;
    font-weight: 500;
}



.row9 .inside .cont2 .first
{
    width: 300px;
    /* height: 50px; */
    /* border: 1px solid red; */
    margin-top: 50px;
    margin-left: 40px;
}
.row9 .inside .cont2 .first span
{
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.row9 .inside .cont2 .first1
{
    width: 300px;
    /* height: 50px; */
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 40px;
}
.row9 .inside .cont2 .first1 span
{
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.row9 .inside .cont2 .first11
{
    width: 300px;
    /* height: 50px; */
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 40px;
}
.row9 .inside .cont2 .first11 span
{
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.row9 .cont2 button
{
    margin-left: 50px;
    margin-top: 30px;
    padding: 15px 120px;
    background:var(--primarycolor);
    border:none;
    color:white;
    font-size: 15px;
    font-weight: 500;
}